{% extends "::base.html.twig" %}
{% block title %}
    {{ 'new.announcement'|babel }}
{% endblock %}
{% block body %}
    <h1>{{ 'edit.announcement'|babel }}</h1>

    <form action="{{ path('admin_announcement_create') }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <div class="form-actions">
            <a href="{{ path('admin_announcement_index') }}" class="btn">{{ 'back.to.the.list'|babel }}</a>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">{{ 'add'|babel }}</button>
            </div>
        </div>
    </form>
{% endblock %}
