{% extends "::base.html.twig" %}
{% form_theme form "HyperAdsBundle::acidFormTheme.html.twig" %}

{% block title %}
{{ 'announcement.new'|babel }}
{% endblock %}

{% block body %}

<form method="POST" action="{{ url('admin_announcement_save') }}" class="form-horizontal col-lg-8 col-offset-2" role="form">
    {{ form_widget(form) }}
    <div class="form-actions">
        <a href="{{ path('admin_announcement_index') }}" class="btn btn-link">{{ 'back.to.the.list'|babel }}</a>
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="{{ 'announcement.add'|babel }}">
        </div>
    </div>
</form>

{% endblock %}
