{% extends "::base.html.twig" %}
{% block title %}
{{ 'edit.advertiser'|trans({'advertiserName': entity.username}, 'HyperAdsBundle') }}
{% endblock %}
{% block body %}
<h1>{{ 'edit.advertiser'|trans({'advertiserName': entity.username}, 'HyperAdsBundle') }}</h1>

<form action="{{ path('admin_advertiser_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">{{ 'edit'|trans({}, 'HyperAdsBundle') }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_advertiser') }}">
            {{ 'back.to.the.list'|trans({}, 'HyperAdsBundle') }}
        </a>
    </li>
    <li>
        <form action="{{ path('admin_advertiser_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{{ 'delete'|trans({}, 'HyperAdsBundle') }}</button>
        </form>
    </li>
</ul>
{% endblock %}