{% extends "::base.html.twig" %}
{% block body %}
{% block title %}
{{ 'show.advertiser'|trans({'advertiserName': entity.username}, 'HyperAdsBundle') }}
{% endblock %}
<h1>{{ 'show.advertiser'|trans({'advertiserName': entity.username}, 'HyperAdsBundle') }}</h1>

<table class="record_properties">
    <tbody>
    <tr>
        <th>{{ 'id'|trans({}, 'HyperAdsBundle') }}</th>
        <td>{{ entity.id }}</td>
    </tr>
    <tr>
        <th>{{ 'name'|trans({}, 'HyperAdsBundle') }}</th>
        <td>{{ entity.username }}</td>
    </tr>
    <tr>
        <th>{{ 'email'|trans({}, 'HyperAdsBundle') }}</th>
        <td>{{ entity.email }}</td>
    </tr>
    <tr>
        <th>{{ 'firstname'|trans({}, 'HyperAdsBundle') }}</th>
        <td>{{ entity.firstName }}</td>
    </tr>
    <tr>
        <th>{{ 'lastname'|trans({}, 'HyperAdsBundle') }}</th>
        <td>{{ entity.lastName }}</td>
    </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_advertiser') }}">
            {{ 'back.to.the.list'|trans({}, 'HyperAdsBundle') }}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_advertiser_edit', { 'id': entity.id }) }}">
            {{ '__edit'|trans({}, 'HyperAdsBundle') }}
        </a>
    </li>
    <li>
        <form action="{{ path('admin_advertiser_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{{ '__delete'|trans({}, 'HyperAdsBundle') }}</button>
        </form>
    </li>
</ul>
{% endblock %}