{% extends "::base.html.twig" %}
{% block body %}
{% if advertiser is defined %}
    <h1>{{ 'campaigns.of'|trans({'advertiserName': advertiser.name}, 'HyperAdsBundle') }}</h1>
{% else %}
    <h1>{{ 'campaigns.list'|trans({}, 'HyperAdsBundle') }}</h1>
{% endif %}
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Startdate</th>
            <th>Expiredate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_campaign_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{% if entity.startDate %}{{ entity.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.expireDate %}{{ entity.expireDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_campaign_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_campaign_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_campaign_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}