{% extends "::base.html.twig" %}
{% block title %}
{{ 'new.campaign'|trans({}, 'HyperAdsBundle') }}
{% endblock %}
{% block body %}
<h1>Campaign creation</h1>

<form action="{{ path('admin_campaign_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_campaign') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}