{% extends "::base.html.twig" %}
{% block title %}
{{ 'show.campaign'|trans({'campaignName': entity.name}, 'HyperAdsBundle') }}
{% endblock %}
{% block body %}
<h1>{{ 'show.campaign'|trans({'campaignName': entity.name}, 'HyperAdsBundle') }}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{{ 'id'|trans({}, 'HyperAdsBundle') }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'name'|trans({}, 'HyperAdsBundle') }}</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>{{ 'date.start'|trans({}, 'HyperAdsBundle') }}</th>
            <td>{{ entity.startDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'date.expire'|trans({}, 'HyperAdsBundle') }}</th>
            <td>{{ entity.expireDate|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_campaign') }}">
            {{ 'back.to.the.list'|trans({}, 'HyperAdsBundle') }}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_campaign_edit', { 'id': entity.id }) }}">
            {{ '__edit'|trans({}, 'HyperAdsBundle') }}
        </a>
    </li>
    <li>
        <form action="{{ path('admin_campaign_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{{ '__delete'|trans({}, 'HyperAdsBundle') }}</button>
        </form>
    </li>
</ul>
{% endblock %}