{% extends "::base.html.twig" %}
{% block body %}
<h1>Campaign</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Startdate</th>
            <td>{{ entity.startDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Expiredate</th>
            <td>{{ entity.expireDate|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_campaign') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_campaign_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_campaign_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}