{% extends "::base.html.twig" %}
{% block title %}
{{ 'new.advertiser'|babel }}
{% endblock %}
{% block body %}
<h1>{{ 'new.advertiser'|babel }}</h1>

<form action="{{ path('admin_advertiser_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form-actions">
        <a href="{{ path('admin_advertiser') }}" class="btn btn-link">
            {{ 'back.to.the.list'|babel }}
        </a>
        <div class="pull-right">
            <button class="btn btn-primary pull-right" type="submit">{{ 'create'|babel }}</button>
        </div>
    </div>
</form>

{% endblock %}