{% import "::bannerWidgetMacro.html.twig" as widget %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ banner.title }}</title>
{% if banner.type == 'flash' %}
    <script type="text/javascript" src="{{ asset('js/swfobject.js') }}"></script>
    <script type="text/javascript">
        swfobject.embedSWF("{{ asset(banner.fileUrl) }}", "banner", "{{ banner.width }}", "{{ banner.height }}", "9.0.0", "{{ asset('js/expressInstall.swf') }}")
    </script>
{% endif %}
</head>
<body>
    <div id="banner">
        {{ widget.bannerWidget(banner) }}
    </div>
</body>
</html>
