{% macro bannerWidget(bnr, z) %}
{% if bnr.type == 'text' %}

{% elseif bnr.type == 'image' %}
<a href="{{ url('banner_click', {'zoneId': z.id, 'bannerId': bnr.id}) }}" target="_blank" title="{{ bnr.linkTitle }}">
    <img src="{{ asset(bnr.fileUrl) }}" alt="{{ bnr.linkTitle }}" width="{{ bnr.width }}" height="{{ bnr.height }}">
</a>
{% endif %}
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ banner.title }}</title>
{% if banner.type == 'flash' %}
    <script type="text/javascript" src="{{ asset('js/swfobject.js') }}"></script>
    <script type="text/javascript">
        swfobject.embedSWF("{{ asset(banner.fileUrl) }}", "banner", "{{ banner.width }}", "{{ banner.height }}", "9.0.0", "{{ asset('js/expressInstall.swf') }}")
    </script>
{% endif %}
    <style type="text/css">body{margin:0;}</style>
</head>
<body>
    <div id="banner" style="text-align: center">
        {{ _self.bannerWidget(banner, zone) }}
    </div>
</body>
</html>
