{% extends "::base.html.twig" %}
{% block title %}
{{ 'welcome'|babel }}
{% endblock %}
{% block body %}
<div class="span-20 last">
    <blockquote class="push-2 span-7">Many a small thing has been made large by the right kind of advertising.
        <br/>
        <span class="right">&mdash; Mark Twain</span>
    </blockquote>
</div>

<div id="actions" class="prepend-top append-bottom span-20 last">
{% if is_granted("ROLE_USER") %}
    <ul class="no-buttons">
        <li>
            <a class="span-7 box" href="{{ url('user_banner_new') }}">{{ 'banner.buy'|babel }}</a>
        </li>
        <li>
            {# <a class="span-6 box" href="{{ url('user_banner_new') }}">{{ 'announcement.buy'|babel }}</a> #}
            <span class="span-6 box">
                {{ 'announcement.buy'|babel }}<br/>
                <small class="quiet">W przygotowaniu</small>
            </span>
        </li>
        <li>
            {# <a class="span-4 last box" href="{{ url('user_banner_new') }}">{{ 'announcement.free.add'|babel }}</a> #}
            <span class="span-4 last box">
                {{ 'announcement.free.add'|babel }} <br/>
                <small class="quiet">W przygotowaniu</small>
            </span>
        </li>
    </ul>
{% elseif is_granted("ROLE_ADMIN") %}
    admin
{% endif %}
</div>

{% endblock %}