{% extends "::base.html.twig" %}
{% block title %}
{{ 'welcome'|babel }}
{% endblock %}
{% block body %}
<div class="row span7 hero-unit">
    <h1>Acid Ad Server</h1>
    <blockquote>Many a small thing has been made large by the right kind of advertising.
        <br/>
        <small>Mark Twain</small>
    </blockquote>
    <p>
        <a class="btn btn-primary btn-large" href="{{ url('acid_tutorial') }}">Dowiedz się więcej</a>
    </p>
</div>

{% if is_granted("ROLE_USER") %}
    <div class="row">
        <div class="span3">
            <h2>{{ 'banner'|babel }}</h2>
            <p>Kup banner info lorem ipsum dolor sit amet</p>
            <p>
                <a class="btn btn-primary" href="{{ url('user_banner_new') }}">{{ 'banner.buy'|babel }}</a>
            </p>
        </div>

        <div class="span3">
            <h2>{{ 'announcement'|babel }}</h2>
            <p>
                W przygotowaniu
            </p>
        </div>

        <div class="span3">
            <h2>{{ 'announcement.free'|babel }}</h2>
            <p>
                W przygotowaniu
            </p>
        </div>
    </div>
{% endif %}

{% endblock %}