{% extends "::base.html.twig" %}
{% block title %}
{{ '__welcome'|trans({}, 'HyperAdsBundle') }}
{% endblock %}
{% block body %}
<div class="span-24 last">
    <blockquote class="push-2 span-7">Many a small thing has been made large by the right kind of advertising.
        <br/>
        <span class="right">&mdash; Mark Twain</span>
    </blockquote>
</div>

<div id="actions" class="prepend-top append-bottom span-7 last">
{% if is_granted("ROLE_USER") %}
    <div class="span-10">
        <a href="{{ url('user_banner_new') }}">{{ 'banner.buy'|trans({}, 'HyperAdsBundle') }}</a>
    </div>
    <div class="span-10">
        <a href="{{ url('user_banner_new') }}">{{ 'announcement.buy'|trans({}, 'HyperAdsBundle') }}</a>
    </div>
    <div class="span-4 last">
        <a href="{{ url('user_banner_new') }}">{{ 'announcement.free.add'|trans({}, 'HyperAdsBundle') }}</a>
    </div>
{% elseif is_granted("ROLE_ADMIN") %}
    admin
{% endif %}
</div>

{% endblock %}