{% extends "::base.html.twig" %}
{% block title %}
{{ 'welcome'|babel }}
{% endblock %}
{% block body %}

{% include "HyperAdsBundle:Default:heroUnit.html.twig" %}

{% if is_granted("ROLE_USER") %}
    <div class="row">
        <div class="col-lg-4">
            <h2>{{ 'banners'|babel }}</h2>
            <p>Kup banner info lorem ipsum dolor sit amet</p>
            <p>
                <a class="btn btn-primary" href="{{ url('user_banner_new') }}">{{ 'banner.buy'|babel }}</a>
            </p>
        </div>

        <div class="col-lg-4">
            <h2>{{ 'announcement.plural'|babel }}</h2>
            <p>
                W przygotowaniu
            </p>
        </div>

        <div class="col-lg-4">
            <h2>{{ 'announcement.free'|babel }}</h2>
            <p>
                W przygotowaniu
            </p>
            <p>
                <a class="btn btn-primary" href="{{ url('user_announcement_new') }}">{{ 'announcement.add'|babel }}</a>
            </p>
        </div>
    </div>
{% endif %}

{% endblock %}