{% extends "::base.html.twig" %}
{% block title %}
{{ 'welcome'|babel }}
{% endblock %}
{% block body %}
<div class="row span8">
    <blockquote>Many a small thing has been made large by the right kind of advertising.
        <br/>
        <span class="offset1">&mdash; Mark Twain</span>
    </blockquote>
</div>

{% if is_granted("ROLE_USER") %}
    <div class="row">
        <div class="span3">
            <h2>{{ 'banner'|babel }}</h2>
            <p>Kup banner info lorem ipsum dolor sit amet</p>
            <p>
                <a class="btn btn-primary" href="{{ url('user_banner_new') }}">Przejdź dalej</a>
            </p>
        </div>

        <div class="span3">
            <h2>{{ 'announcement'|babel }}</h2>
            <p>
                W przygotowaniu
            </p>
        </div>

        <div class="span3">
            <h2>{{ 'announcement.free'|babel }}</h2>
            <p>
                W przygotowaniu
            </p>
        </div>
    </div>
{% endif %}

{% endblock %}