{% extends "::base.html.twig" %}
{% block title %}
{{ 'welcome'|babel }}
{% endblock %}
{% block body %}

{% include "HyperAdsBundle:Default:heroUnit.html.twig" %}

{% if is_granted("ROLE_USER") %}
	<!--
	<div class="row">
		<div class="col-lg-12">
			<div class="alert alert-danger">
				<p>UWAGA! Mamy mały problem z silnikiem Acida, prosimy na razie powstrzymać się od zakupów. Zaraz wracamy!</p>
			</div>
		</div>
	</div>
	-->
	<div class="row">
		<div class="col-lg-12">
			<div class="alert alert-warning">
				<p>UWAGA! Gdyby wystąpił jakiś problem z płatnościami, prosimy o kontakt mailowy: reklama@hyperreal.biz</p>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-lg-4">
            <h2>{{ 'banners'|babel }}</h2>
            <p>
                <a class="btn btn-primary" href="{{ url('user_banner_new') }}">{{ 'banner.buy'|babel }}</a>
            </p>
        </div>

        <div class="col-lg-4">
            <h2>{{ 'announcement.plural'|babel }}</h2>
            <p>
                W przygotowaniu
            </p>
        </div>

        <div class="col-lg-4">
            <h2>{{ 'announcement.free'|babel }}</h2>
            <p>
                W przygotowaniu
            </p>
			<!--
            <p>
                <a class="btn btn-primary" href="{{ url('user_announcement_new') }}">{{ 'announcement.add'|babel }}</a>
            </p>
			-->
        </div>
    </div>
{% endif %}

{% endblock %}
