{% extends "::base.html.twig" %}
{% block title %}
{{ 'menu.guide'|babel }}
{% endblock %}
{% block body %}
<script type="text/javascript">
	$(document).ready(function() {
		$('.fancybox').fancybox();
	});
</script>
<div id="tutorial">
<div class="jumbotron">

		<h1>Podręcznik obsługi serwisu reklamowego hyperreala</h1>

		<p class="lead">Serwis reklamowy hyperreala o dźwięcznej i nieprzypadkowej nazwie <b>Acid</b>, jest w pełni samoobsługowym systemem do publikacji bannerów i ogłoszeń. Dokładamy najwyższych starań, aby jego obsługa była szybka, prosta i bezpieczna. System powstał specjalnie dla nas i został przygotowany przez członków społeczności hyperreala.<p>

		<p class="lead">W skrócie, publikacja reklamy na hyperrealu składa się z trzech etapów - zakupu bitcoinów (BTC), wgrania bannera i zapłacenia za niego zakupionymi wcześniej bitcoinami. Etapy te opisaliśmy w niniejszym podręczniku.</p>

		<p><span class="glyphicon glyphicon-star"></span>&nbsp; Aby zobaczyć obrazki w większej skali, kliknij w miniaturę.</p>

</div>

<h2>Bitcoiny</h2>

<div class="panel-group" id="accordion"> <!-- ACCORDION -->

	<div class="panel panel-default"> <!-- ACCORDION SINGLE BLOCK -->
		<div class="panel-heading"> <!-- ACCORDION HEADING -->
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
Czemu wybraliśmy bitcoiny (BTC) jako walutę opłacania reklam?
				</a>
			</h4>
		</div> <!-- END OF ACCORDION HEADING -->

		<div id="collapseOne" class="panel-collapse collapse in"> <!-- ACCORDION BODY -->
			<div class="panel-body"> <!-- ACCORDION PANEL -->
				<p>Hyperreal przyjmuje płatności wyłącznie w bitcoinach (BTC). BTC to waluta uniwersalna, którą nam łatwo opłacić serwery, znajdujące się w kilku krajach. Czemu wybraliśmy bitcoiny?</p>
				<ul>
					<li>Transakcje są prawie darmowe, giełdy wymiany walut biorą niewielką prowizję.</li>
					<li>Przyjmujemy BTC z dowolnego źródła lub wielu źródeł, najważniejsze, zeby ilość się zgadzała :-) To Ty decydujesz, skąd weźmiesz BTC.</li>
					<li>Prosta obsługa. Jeśli posiadasz portfel BTC na telefonie komórkowym, wystarczy zeskanować nasz kod QR transakcji z ekranu i gotowe.</li>
					<li>Transakcje nie przechodzą przez żadne krwiopijcze banki i są dość trudne do namierzenia przez rozmaite instytucje <i class="fa fa-puzzle-piece"></i>.</li>
				</ul>
				<p>Więcej o BTC można dowiedzieć się z polskiej strony <a href="http://bitcoin.pl/obitcoin">http://bitcoin.pl/obitcoin</a>.</p>
			</div> <!-- END OF ACCORDION PANEL -->
		</div> <!-- END OF ACCORDION BODY -->

	</div> <!-- END OF ACCORDION SINGLE BLOCK-->

	<div class="panel panel-default"> <!-- ACCORDION SINGLE BLOCK -->

		<div class="panel-heading"> <!-- ACCORDION HEADING -->
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			Jak kupić bitcoiny (BTC)?
				</a>
			</h4>
		</div> <!-- END OF ACCORDION HEADING -->

		<div id="collapseTwo" class="panel-collapse collapse in"> <!-- ACCORDION BODY -->
			<div class="panel-body"> <!-- ACCORDION PANEL -->
				<p>Bitcoiny do zakupu reklam na hyperrealu można kupić na wiele sposobów. My sprawdziliśmy jeden z nich, jest on polecany na polskim forum bitcoin. Prosimy jednak zwrócić uwagę, że hyperreal w żaden sposób nie odpowiada za wasze transakcje zakupu bitcoinów!</p>
				<div class="alert alert-info">
					<p>Hyperreal do obsługi BTC używa portfela Electrum: <a href="http://electrum.org/">http://electrum.org/</a>, zdecydowanie go wam polecamy. Pamiętajcie, aby nie przechowywać BTC na cudzych serwerach, gdyż w żaden sposób nie można ufać w to, że właściciele tych serwerów są wiarygodni. Korzystając z potfeli webowych możecie wtopić swoją kasę, wasze fundusze są w pełni zależne od właściciela serwera i jego kondycji finansowej. natomiast portfel Electrum gwarantuje, że wasza kasa należy do was i do nikogo innego. Jedyne, co musicie pamiętać, to hasło (seed) do waszego portfela Electrum - jeśli go zapomnicie, kasa znika na zawsze!</p>
				</div>
			</div> <!-- END OF ACCORDION PANEL -->
		</div> <!-- END OF ACCORDION BODY -->

	</div> <!-- END OF ACCORDION SINGLE BLOCK-->

	<div class="panel panel-default"> <!-- ACCORDION SINGLE BLOCK -->

		<div class="panel-heading"> <!-- ACCORDION HEADING -->
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			Bitcurex jako przykład giełdy walut
				</a>
			</h4>
		</div> <!-- END OF ACCORDION HEADING -->

		<div id="collapseThree" class="panel-collapse collapse in"> <!-- ACCORDION BODY -->
			<div class="panel-body"> <!-- ACCORDION PANEL -->
				<div class="row">
					<div class="col-md-9">
						<p>Przetestowanym przez nas sposobem zakupu BTC jest <b>Bitcurex</b>, <a href="https://pln.bitcurex.com/">https://pln.bitcurex.com/</a> - jest to giełda walut, która wg. polskich użytkowników systemu bitcoin, działa sprawnie i szybko. Po założeniu konta, przelewasz tam odpowiednią kwotę przelewem bankowym w złotówkach, na ich konto w Mbanku, dane podane są pod adresem <a href="https://pln.bitcurex.com/zasilenie-konta">https://pln.bitcurex.com/zasilenie-konta</a> - obok przykładowy obrazek z zaznaczonym fragmentem ekranu.</p>
					</div>
					<div class="col-md-3">
						<a href="{{ asset('bundles/hyperads/images/bitxurex-dane-konta-do-wplat-pln.png') }}" class="fancybox" title="Bitcurex">
							<img src="{{ asset('bundles/hyperads/images/bitxurex-dane-konta-do-wplat-pln-M.png') }}">
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<p>Wpłaty z kont w mBanku i MultiBanku są księgowane w ciągu kilku minut, reszta zgodnie z cyklem przelewów międzybankowych, a więc trzy razy dziennie w dni robocze. <b>Uwaga, należy dokładnie podać tytuł przelewu zgodnie ze spersonalizowanymi dla każdego konta, danymi w Bitcurex, gdyż transakcje księgowane są automatycznie na podstawie tego tytułu przelewu.</b> Bitcurex pobiera niewielką prowizję 0.4% od wymiany walut, nie pobiera prowizji od wpłat złotówkowych. Nim kupicie BTC na giełdzie Bitcurex, lepiej jest zapoznać się z ich regulaminem i tabelą opłat.</p>

						<p>Po przelaniu złotówek do giełdy Bitcurex, zamieniasz je na bitcoiny. Zakupu natychmiastowego można dokonać po aktualnej cenie transakcyjnej. Uwaga! Gra na giełdzie walutowej nie jest objęta niniejszym podręcznikiem. Pamiętaj, że zabawa na giełdzie walutowej jest ryzykowna, dlatego zakupu BTC lepiej dokonaj tuż przed transakcją z hyperrealem. Kurs BTC bywa mocno zmienny.</p>
					</div>
				</div>
			</div> <!-- END OF ACCORDION PANEL -->
		</div> <!-- END OF ACCORDION BODY -->
	</div> <!-- END OF ACCORDION SINGLE BLOCK -->

	<div class="panel panel-default"> <!-- ACCORDION SINGLE BLOCK -->

		<div class="panel-heading"> <!-- ACCORDION HEADING -->
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
			Na co trzeba zwrócić uwagę przy transakcjach w BTC?
				</a>
			</h4>
		</div> <!-- END OF ACCORDION HEADING -->

		<div id="collapseFour" class="panel-collapse collapse in"> <!-- ACCORDION BODY -->
			 <div class="panel-body"> <!-- ACCORDION PANEL -->
				<p>Cena BTC, jak zresztą każdej waluty, zmienia się bez przerwy. Ponieważ pomiędzy kupnem BTC a zapłatą za reklamy na hyperrealu mija minimum kilkadziesiąt minut, bo tyle zwykle trwa potwierdzenie transakcji w systemie bitcoin, wartość BTC może ulec w tym czasie zmianie. Lepiej zatem nie nie przedłużać tego okresu, by nie ryzykować wahań kursowych, i kupić reklamy niezwłocznie po kupnie BTC.</p>
			</div> <!-- END OF ACCORDION PANEL -->
		</div> <!-- END OF ACCORDION BODY -->
	</div> <!-- END OF ACCORDION SINGLE BLOCK -->

<h2>Obsługa systemu reklamowego hyperreala</h2>

<div class="alert alert-info">
	<p>System do samodzielnej obsługi reklam znajduje się pod adresem <a href="https://mak.hyperreal.biz/">https://mak.hyperreal.biz/</a>.
</div>

<div class="panel-group" id="accordion"> <!-- ACCORDION -->

	<div class="panel panel-default"> <!-- ACCORDION SINGLE BLOCK -->
		<div class="panel-heading"> <!-- ACCORDION HEADING -->
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
			Założenie konta
				</a>
			</h4>
		</div> <!-- END OF ACCORDION HEADING -->

		<div id="collapseFive" class="panel-collapse collapse in"> <!-- ACCORDION BODY -->
			<div class="panel-body"> <!-- ACCORDION PANEL -->

	<div class="row">

		<div class="col-md-9">
			<p>Jeśli jesteś nowym klientem, powinieneś zacząć od założenia konta. Kliknij w "Zarejestruj" - patrz obrazek obok.</p>
		</div>
		<div class="col-md-3">
			<a href="{{ asset('bundles/hyperads/images/mak-zarejestruj.png') }}" class="fancybox" title="">
			<img src="{{ asset('bundles/hyperads/images/mak-zarejestruj-M.png') }}">
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<p>Wypełnij wszystkie rubryki jak na obrazku obok, pamiętając, że adres mailowy będzie musiał zostać zweryfikowany. Po otrzymaniu maila po prostu kliknij w link potwierdzający i konto zostanie aktywowane. Jeśli nie otrzymałeś maila w ciągu maksymalnie kilku minut, sprawdź folder z spamem, gdyż mail mógł tam przypadkiem wylądować. Gdybyś w ogóle nie otrzymał maila, skontaktuj się z nami.</p>
		</div>
		<div class="col-md-3">
			<a href="{{ asset('bundles/hyperads/images/mak-rejestracja.png') }}" class="fancybox" title="">
			<img src="{{ asset('bundles/hyperads/images/mak-rejestracja-M.png') }}">
			</a>
		</div>
	</div>
			</div> <!-- END OF ACCORDION PANEL -->
		</div> <!-- END OF ACCORDION BODY -->
	</div> <!-- END OF ACCORDION SINGLE BLOCK -->


	<div class="panel panel-default"> <!-- ACCORDION SINGLE BLOCK -->
		<div class="panel-heading"> <!-- ACCORDION HEADING -->
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
		Lista stref i cennik
				</a>
			</h4>
		</div> <!-- END OF ACCORDION HEADING -->

		<div id="collapseSix" class="panel-collapse collapse in"> <!-- ACCORDION BODY -->
			<div class="panel-body"> <!-- ACCORDION PANEL -->

	<div class="row">

		<div class="col-md-9">
			<p>Po założeniu i aktywacji konta, zaloguj się do systemu. Po lewej stronie znajdziesz odnośnik "Informacje o strefach" - patrz obrazek obok.</p>
		</div>
		<div class="col-md-3">
			<a href="{{ asset('bundles/hyperads/images/mak-strona-glowna-informacje-o-strefach.png') }}" class="fancybox" title="">
			<img src="{{ asset('bundles/hyperads/images/mak-strona-glowna-informacje-o-strefach-M.png') }}">
			</a>
		</div>
	</div>

	<div class="row">

		<div class="col-md-9">
			<p>Gdy klikniesz w ten odnośnik, pokaże ci się lista wszystkich możliwych do zamieszczenia bannerów, wraz z cennikiem i ich maksymalnymi rozmiarami. Przeanalizuj naszą ofertę, i zdecyduj się na jeden lub kilka bannerów. Uwaga, poniższe ceny są jedynie przykładowe i nie stanowią oferty handlowej. Aktualne ceny znajdziesz po zalogowaniu się na swoje konto.</p>
		</div>
		<div class="col-md-3">
			<a href="{{ asset('bundles/hyperads/images/mak-informacje-o-strefach.png') }}" class="fancybox" title="">
			<img src="{{ asset('bundles/hyperads/images/mak-informacje-o-strefach-M.png') }}">
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<p>Wszystkie bannery rotują się w strefie z innymi ogłoszeniodawcami, maksymalnie w stosunku 1:5 czyli twój banner będzie pojawiał się średnio maksymalnie co pięć wyświetleń strony, jeśli wszystkie bannery w strefie są wykupione. Jeśli chcesz zająć określoną strefę wyłącznie dla siebie, musisz zatem przygotować pięć bannerów i opłacić je oddzielnie - mogą być to te same bannery, ale musisz wgrać je oddzielnie.<p>

			<p>Zwróć uwagę, że cennik dotyczy jednego dnia emisji. Od ciebie zależy, na jak długo wykupisz banner, okres ten może być dowolny, od jednego dnia do maksymalnie roku. Pamiętaj, że aż do momentu skutecznego opłacenia bannera, ktoś inny może cię wyprzedzić i zakupić swój banner, podobnie jak to ma miejsce przy zakupie na przykład biletu lotniczego.</p>

			<div class="alert alert-warning">
        			<div class="row">
                			<div class="col-md-1">
                        			<p><i class="fa fa-btc fa-3x"></i></p>
                			</div>
                			<div class="col-md-11">
                        			<p>Cena w strefie wzrasta wraz z ilością zapełnionych bannerów, podobnie jak to ma się z biletami w liniach lotniczych! Aby kupić taniej, wykup baner wcześniej niż konkurencja.</p>
                			</div>
        			</div>
			</div>

		</div>
	</div>
			</div> <!-- END OF ACCORDION PANEL -->
		</div> <!-- END OF ACCORDION BODY -->
	</div> <!-- END OF ACCORDION SINGLE BLOCK -->

	<div class="panel panel-default"> <!-- ACCORDION SINGLE BLOCK -->
		<div class="panel-heading"> <!-- ACCORDION HEADING -->
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
			Dodanie bannera
				</a>
			</h4>
		</div> <!-- END OF ACCORDION HEADING -->

		<div id="collapseSeven" class="panel-collapse collapse in"> <!-- ACCORDION BODY -->
			<div class="panel-body"> <!-- ACCORDION PANEL -->

			<p>W momencie, w którym zdecydowałeś się na określony banner, sprawdź dokładnie jego maksymalny rozmiar. System zaakceptuje mniejszy banner niż podana wartość maksymalna bannera, ale nie zaakceptuje większego.</p>

	<div class="row">

		<div class="col-md-9">
			<p>Kiedy masz już gotowy do publikacji banner, kliknij w odnośnik "Twoje bannery", a potem w "Dodaj banner". Wgraj banner do systemu zgodnie z przykładowym obrazkiem obok:</p>
		</div>
		<div class="col-md-3">
			<a href="{{ asset('bundles/hyperads/images/mak-wgrywanie-bannera.png') }}" class="fancybox" title="">
			<img src="{{ asset('bundles/hyperads/images/mak-wgrywanie-bannera-M.png') }}">
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<p><i>Tytuł</i> to nazwa tego konkretnie bannera, abyś później wiedział, który banner jest który, jeśli posiadasz więcej bannerów. <i>Treść linku</i> jest istotna tylko wtedy, kiedy czytelnik hyperreala posługuje się jakąś starą przeglądarką tekstową, i w dzisiejszych czasach jest to mało realne, więc to, co tam wpiszesz, nie ma większego znaczenia. Natomiast bardzo ważne jest prawidłowe wypełnienie pola <i>URL</i> - bo tam własnie zostanie przeniesiony czytelnik w momencie, w którym kliknie w twój banner.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<p>Po wgraniu bannera, kliknij w odnośnik "Moje bannery". Powinien pojawić się na liście banner, który właśnie wgrałeś, podobnie do obrazka obok:</p>
		</div>
		<div class="col-md-3">

			<a href="{{ asset('bundles/hyperads/images/mak-twoje-bannery.png') }}" class="fancybox" title="">
			<img src="{{ asset('bundles/hyperads/images/mak-twoje-bannery-M.png') }}">
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<p>Jesteś teraz w stanie aktywować banner w pasujących do niego strefach, możesz też sprawdzić listę poprzednich płatności za ten banner.</p>
		</div>
	</div>

			</div> <!-- END OF ACCORDION PANEL -->
		</div> <!-- END OF ACCORDION BODY -->
	</div> <!-- END OF ACCORDION SINGLE BLOCK -->

	<div class="panel panel-default"> <!-- ACCORDION SINGLE BLOCK -->
		<div class="panel-heading"> <!-- ACCORDION HEADING -->
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
			Opłacenie bannera
				</a>
			</h4>
		</div> <!-- END OF ACCORDION HEADING -->

		<div id="collapseEight" class="panel-collapse collapse in"> <!-- ACCORDION BODY -->
			<div class="panel-body"> <!-- ACCORDION PANEL -->

	<div class="row">
		<div class="col-md-9">
			<p>Na obrazku obok widać listę stref, w których możesz aktywować swój banner. Aby to uczynić, kliknij w odnośnik "Opłać banner w tej strefie"</p>
		</div>
		<div class="col-md-3">

			<a href="{{ asset('bundles/hyperads/images/mak-strefy-dla-bannera.png') }}" class="fancybox" title="">
			<img src="{{ asset('bundles/hyperads/images/mak-strefy-dla-bannera-M.png') }}">
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">

			<p>Wybierz teraz okres, przez jaki ma wyświetlać się banner, obok wyświetli ci się sumaryczna cena usługi. System też poinformuuje cię, jeśli nie będzie w stanie zabookować strefy na cały okres, ze względu na to, że jest w pełni zajęta.</p>
		</div>
		<div class="col-md-3">

			<a href="{{ asset('bundles/hyperads/images//mak-oplac-banner.png') }}" class="fancybox" title="">
			<img src="{{ asset('bundles/hyperads/images/mak-oplac-banner-M.png') }}">
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<p>Jeśli posługujesz się portfelem Electrum, przed transakcjami z Hyperrealem, zapoznaj się z jego instrukcją obsługi.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">

			<p>Możemy zatem realizować płatność. Z adresu mak.hyperreal.biz przenosimy cię do systemu płatności BitPay, który pośredniczy w transakcji. Ekran będzie teraz wyglądał podobnie do tego obok. Widzimy na nim również dokładną wartość bitcoinów, które należy zapłacić za reklamę. BitPay nie pobiera od ciebie prowizji za transakcję, wpłać kwotę widoczną na ekranie. Jeśli wpłacisz mniej, to płatność nie zostanie zrealizowana, dopóki nie dopłacisz brakującej kwoty na ten sam adres. Można przeprowadzać kilka przelewów, ważne, aby na końcu kwota precyzyjnie się zgadzała. Postaraj się nie wpłacać więcej, gdyż rodzi to biurokratyczne problemy ze strony pośrednika transakcji.</p>
		</div>
		<div class="col-md-3">

			<a href="{{ asset('bundles/hyperads/images/bitpay-invoice-to-be-paid.png') }}" class="fancybox" title="">
			<img src="{{ asset('bundles/hyperads/images/bitpay-invoice-to-be-paid-M.png') }}">
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">

			<p>Widzimy teraz adres, na który mamy przelać bitcoiny, wpisujemy teraz do naszego konta w Bitcurex, zgodnie z obrazkiem:</p>
		</div>
		<div class="col-md-3">

			<a href="{{ asset('bundles/hyperads/images/bitcurex-adres-wyplat-bitcoin.png') }}" class="fancybox" title="">
			<img src="{{ asset('bundles/hyperads/images/bitcurex-adres-wyplat-bitcoin-M.png') }}">
		</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">

			<p>Aby to uczynić, Bitcurex prześle nam mailem specjalny jednorazowy specjalny odnośnik, pod którym będziemy w stanie wpisać adres do przelewu. Wpisujemy go podobnie jak na obrazku obok:</p>
		</div>
		<div class="col-md-3">

			<a href="{{ asset('bundles/hyperads/images/bitxurex-edycja-danych-konta-do-wyplat-btc.png') }}" class="fancybox" title="">
			<img src="{{ asset('bundles/hyperads/images/bitxurex-edycja-danych-konta-do-wyplat-btc-M.png') }}">
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">

			<p>Po edycji strony, ustawienia naszego konta będą wyglądały podobnie do obrazka obok:</p>
		</div>
		<div class="col-md-3">

			<a href="{{ asset('bundles/hyperads/images/bitxurex-dane-konta-do-wyplat-btc.png') }}" class="fancybox" title="">
			<img src="{{ asset('bundles/hyperads/images/bitxurex-dane-konta-do-wyplat-btc-M.png') }}">
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">

			<p>W tym momencie jesteśmy gotowi do przelania bitcoinów z naszego konta w Bitcurex do hyperreala. Bitcurex pobiera niewielką, symboliczną opłatę transakcyjną, która jest wymagana do sprawnego transferu bitcoinów, zwykle 0.0001. Zlecenie wykonujemy zgodnie z obrazkiem obok, oczywiście wpisując tam wartość zgodną z opłatą za banner:</p>
		</div>
		<div class="col-md-3">

			<a href="{{ asset('bundles/hyperads/images/bitcurex-wyplata-btc.png') }}" class="fancybox" title="">
			<img src="{{ asset('bundles/hyperads/images/bitcurex-wyplata-btc-M.png') }}">
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">

			<p>Krótko (od kilkunastu sekund do kilku minut) po przelaniu pieniędzy, powinniśmy zobaczyć, że bitcoiny dotarły:</p>
		</div>
		<div class="col-md-3">

			<a href="{{ asset('bundles/hyperads/images/bitpay-invoice-paid.png') }}" class="fancybox" title="">
			<img src="{{ asset('bundles/hyperads/images/bitpay-invoice-paid-M.png') }}">
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<p>To wszystko! Jak tylko otrzymamy potwierdzenie, że banner został opłacony, zostanie opublikowany zgodnie z datami, które wskazałeś w zamówieniu. Potwierdzenie zwykle otrzymujemy w czasie krótszym niż pół godziny od momentu opłacenia.</p>
			<div class="alert alert-info">
				<p>Za drugim razem pójdzie ci znacznie szybciej i łatwiej, a za trzecim będziesz mistrzem bitcoinów :-)</p>
			</div>
		</div>
	</div>
			</div> <!-- END OF ACCORDION PANEL -->
		</div> <!-- END OF ACCORDION BODY -->
	</div> <!-- END OF ACCORDION SINGLE BLOCK -->
</div> <!-- END OF ACCORDION -->

</div>
{% endblock %}

