{% extends "::base.html.twig" %}
{% block title %}
{{ 'zones.info'|babel }}
{% endblock %}

{% block body %}
<h1>{{ 'zones.info'|babel }}</h1>

{% if pages|length > 0 %}
<div class="alert alert-info">
    <p> {{ 'zones.short.info'|babel }} </p>
</div>

<div>
   <p> {{ 'zones.long.info'|babel }} </p>
</div>

<div class="alert alert-warning">
	<div class="row">
		<div class="col-md-1">
			<p><i class="fa fa-btc fa-3x"></i></p>
		</div>
		<div class="col-md-11">
   			<p> {{ 'zones.price.info'|babel }} </p>
		</div>
	</div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ 'page'|babel }}</th>
        <th>{{ 'zone'|babel }}</th>
        <th>{{ 'sizes'|babel }}</th>
        <th>{{ 'daily.price'|babel }}</th>
    </tr>
    </thead>
    <tbody>
    {% for page in pages %}
    <tr class="{% if loop.last %} last{% endif %}{% if page.zones|length == 1 %} first{% endif %}">
        <th rowspan="{{ page.zones|length }}">{{ page.name }}</th>
        {% for zone in page.zones %}
            {% if not loop.first %}
                <tr{% if loop.last  %} class="last-zone"{% endif %}>
            {% endif %}
            <td>{{ zone.name }}</td>
            <td>{{ zone.maxWidth }} x {{ zone.maxHeight }}</td>
            <td>{{ zone.dailyPrice|number_format(2, ',', '.') }} {{ default_currency }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

{% else %}
<div class="notice">
    {{ 'no.zones.active'|babel }}
</div>
{% endif %}

{% endblock %}
