<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} {{ page_title|babel }}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/hyperads/css/main.css') }}" media="screen" />
		<link href='http://fonts.googleapis.com/css?family=Headland+One&subset=latin-ext' rel='stylesheet' type='text/css'>
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="{{ asset('css/ie.css') }}" type="text/css" media="screen, projection">
        <![endif]-->
        <script type="text/javascript" src="{{ asset('components/jquery/jquery.min.js') }}"></script>
		<link rel="stylesheet" href="{{ asset('components/fancybox/source/jquery.fancybox.css') }}" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ asset('components/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    </head>
    <body>

    {% include "::navbar.html.twig" %}

    <div class="container">

        <div class="row">

            {% if is_granted("ROLE_USER") %}
            <aside class="span3">
                {% include "::sidebar.html.twig" %}
            </aside>
            {% endif %}

            <div class="row{% if is_granted("ROLE_USER") %} span9{% endif %}">
                {% include "::flashes.html.twig" %}
                {% block body %}{% endblock %}
            </div>
        </div>

        <hr/>
        <footer>
            &copy; <a href="http://hyperreal.info/">hyperreal.info</a> 2012-{{ 'now'|date('Y') }} <br/>
            {{ 'powered.by.acid'|babel }} | <a href="https://github.com/hyperreal/AcidAdServer" class="github-fork">{{ 'fork.on.github'|babel }}</a>
        </div>

    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
