<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} {{ page_title|babel }}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/hyperads/css/main.css') }}" media="screen" />
		<link href='http://fonts.googleapis.com/css?family=Headland+One&subset=latin-ext' rel='stylesheet' type='text/css'>
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="{{ asset('css/ie.css') }}" type="text/css" media="screen, projection">
        <![endif]-->
        <script type="text/javascript" src="{{ asset('components/jquery/jquery.min.js') }}"></script>
		<link rel="stylesheet" href="{{ asset('components/fancybox/source/jquery.fancybox.css') }}" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ asset('components/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    </head>
    <body>

    <div class="container">
        <div id="header" class="nav row">
            <div id="login-bar" class="span4">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <strong>{{ app.user.username }}</strong> |
                <a href="{{ url('fos_user_profile_edit') }}">{{ 'edit.profile'|babel|lower }}</a> |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle')|lower }}
                </a>
                {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> |
                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </div>
            <h1 id="logo" class="offset3 span4">
                <div class="span-3">@acid</div>
                <a href="{{ path('_welcome') }}" class="span-3 last">
                    <img src="{{ asset('bundles/hyperads/images/hyperreal.png') }}" alt="logo" />
                </a>
            </h1>
        </div>

        <div class="row">
            <aside class="span3">
                <menu class="well sidebar-nav">
                    <ul>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-header">Admin</li>
                        <li>
                            <a href="{{ path('admin_advertiser') }}">{{ 'advertisers'|babel }}</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_page') }}">{{ 'pages'|babel }}</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_zone') }}">{{ 'zones'|babel }}</a>
                        </li>

                        <li>
                            <a href="{{ path('admin_banner') }}">{{ 'banners'|babel }}</a>
                        </li>
                        <li class="nav-header">User</li>
                    {% endif %}
                    {% if is_granted("ROLE_USER") %}
                        <li>
                            <a href="{{ url('acid_tutorial') }}">{{ 'tutorial'|babel }}</a>
                        </li>
                        <li>
                            <a href="{{ path('user_banner_list') }}">{{ 'your.banners'|babel }}</a>
                        </li>
                        <li>
                            <a href="{{ url("default_zones_info") }}">{{ 'zones.info'|babel }}</a>
                        </li>
                        <li>
                            <a href="http://www.seethestats.com/site/hyperreal.info/STSd1bIizV7" target="_blank" class="external">{{ 'analytics.stats'|babel }}</a>
                        </li>
                    {% endif %}
                    </ul>
                </menu>
            </aside>

            <div class="row span9">
                {% if app.session.hasFlash('error') %}
                    <div class="error">
                        {{ app.session.flash('error') }}
                    </div>
                {% endif %}

                {% if app.session.hasFlash('notice') %}
                    <div class="notice">
                        {{ app.session.flash('notice') }}
                    </div>
                {% endif %}

                {% if app.session.hasFlash('info') %}
                    <div class="info">
                        {{ app.session.flash('info') }}
                    </div>
                {% endif %}

                {% if app.session.hasFlash('success') %}
                    <div class="success">
                        {{ app.session.flash('success') }}
                    </div>
                {% endif %}

                {% block body %}{% endblock %}
            </div>
        </div>

        <div id="footer" class="row">
            {{ 'powered.by.acid'|babel }} <a href="https://github.com/hyperreal/AcidAdServer" class="github-fork">{{ 'fork.on.github'|babel }}</a>
        </div>

    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
