<ul class="nav nav-pills nav-stacked">
	<li class="nav-divider"></li>
    {% if is_granted('ROLE_ADMIN') %}
    <li{% if app.request.get('_route') == 'admin_advertiser' %} class="active"{% endif %}>
        <a href="{{ path('admin_advertiser') }}">{{ 'advertisers'|babel }}</a>
    </li>
    <li{% if app.request.get('_route') == 'admin_page' %} class="active"{% endif %}>
        <a href="{{ path('admin_page') }}">{{ 'pages'|babel }}</a>
    </li>
    <li{% if app.request.get('_route') == 'admin_zone' %} class="active"{% endif %}>
        <a href="{{ path('admin_zone') }}">{{ 'zones'|babel }}</a>
    </li>

    <li{% if app.request.get('_route') == 'admin_banner' %} class="active"{% endif %}>
        <a href="{{ path('admin_banner') }}">{{ 'banners'|babel }}</a>
    </li>
    <li{% if app.request.get('_route') == 'admin_announcement_index' %} class="active"{% endif %}>
        <a href="{{ path('admin_announcement_index') }}">{{ 'announcement.plural'|babel }}</a>
    </li>
    <li class="nav-divider"></li>
    {% endif %}

    {% if is_granted("ROLE_USER") %}
	<li class="nav-header">{{ 'webshop'|babel }} &nbsp; <span class="glyphicon glyphicon-shopping-cart"></li>
    <li{% if app.request.get('_route') == 'default_zones_info' %} class="active"{% endif %}>
        <a href="{{ url("default_zones_info") }}">{{ 'zones.info'|babel }}</a>
    </li>
    <li{% if app.request.get('_route') == 'user_banner_list' %} class="active"{% endif %}>
        <a href="{{ path('user_banner_list') }}">{{ 'your.banners'|babel }}</a>
    </li>
	<!--
    <li{% if app.request.get('_route') == 'user_announcement_index' %} class="active"{% endif %}>
        <a href="{{ url('user_announcement_index') }}">{{ 'announcement.plural.yours'|babel }}</a>
    </li>
	-->

	<li class="nav-divider"></li>
	<li class="nav-header">{{ 'help'|babel }}&nbsp; <span class="glyphicon glyphicon-eye-open"></li>
    <li{% if app.request.get('_route') == 'acid_tutorial' %} class="active"{% endif %}>
        <a href="{{ url('acid_tutorial') }}">{{ 'menu.guide'|babel }}</a>
    </li>
    <li{% if app.request.get('_route') == 'default_rules' %} class="active"{% endif %}>
        <a href="{{ path('default_rules') }}">{{ 'rules'|babel }}</a>
    </li>

	<li class="nav-divider"></li>
	<li class="nav-header">{{ 'analytics'|babel }} &nbsp; <span class="glyphicon glyphicon-tasks"></li>

	<li class="nav-divider"></li>
	</li>
    {% endif %}
</ul>
<center>
<p>Czy wiesz, że <i>hyperreal.info</i> to jeden z najpopularniejszych serwisów w polskim internecie?</p>
</center>
