<p>{{ 'hello'|babel }}</p>

<p>
    {{ 'edit.in.admin.mode'|babel }}:
    <a href="{{ url('admin_announcement_edit', {'announcement': announcement.id}) }}">{{ announcement.title }}</a>
</p>

<p>{{ 'announcement.modified'|babel({'%title%': announcement.title}) }}</p>
<hr />
<p>{{ announcement.description|raw }}</p>