{% extends "::base.html.twig" %}
{% block title %}
{{ 'edit.zone'|babylon({'zoneName': entity.name}) }}
{% endblock %}
{% block body %}
<h1>{{ 'edit.zone'|babylon({'zoneName': entity.name}) }}</h1>

<form action="{{ path('admin_zone_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">{{ 'edit'|babylon }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_zone') }}">
            {{ 'back.to.the.list'|babylon }}
        </a>
    </li>
    <li>
        <form action="{{ path('admin_zone_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{{ 'delete'|babylon }}</button>
        </form>
    </li>
</ul>
{% endblock %}