{% extends "::base.html.twig" %}
{% block title %}
{{ 'list.zone'|babylon }}
{% endblock %}
{% block body %}
<h1>{{ 'list.zone'|babylon }}</h1>

{% if entities|length > 0 %}
<table class="records_list">
    <thead>
    <tr>
        <th>{{ 'id'|babylon }}</th>
        <th>{{ 'name'|babylon }}</th>
        <th>{{ 'page'|babylon }}</th>
        <th>{{ 'enabled'|babylon }}</th>
        <th>{{ 'max.width'|babylon }}</th>
        <th>{{ 'max.height'|babylon }}</th>
        <th>{{ 'type'|babylon }}</th>
        <th>{{ 'actions'|babylon }}</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr>
        <td>
            <a href="{{ path('admin_zone_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
        </td>
        <td>
            {{ entity.name }}
            <br />
            <a href="{{ path('banner_config_zone', {'zoneId': entity.id}) }}">{{ 'show.banners'|babylon }}</a>
        </td>
        <td>{{ entity.page.name }}</td>
        <td>{{ entity.enabled }}</td>
        <td>{{ entity.maxWidth }}</td>
        <td>{{ entity.maxHeight }}</td>
        <td>{{ entity.type }}</td>
        <td>
            <ul>
                <li>
                    <a href="{{ path('admin_zone_show', { 'id': entity.id }) }}">
                        {{ 'show'|babylon }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_zone_edit', { 'id': entity.id }) }}">
                        {{ 'edit'|babylon }}
                    </a>
                </li>
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="message">{{ 'no.entities'|babylon }}</div>
{% endif %}
<ul>
    <li>
        <a href="{{ path('admin_zone_new') }}">
            {{ 'create.new.entry'|babylon }}
        </a>
    </li>
</ul>
{% endblock %}