{% extends "::base.html.twig" %}
{% block title %}
{{ 'list.zone'|trans({}, 'HyperAdsBundle') }}
{% endblock %}
{% block body %}
<h1>{{ 'list.zone'|trans({}, 'HyperAdsBundle') }}</h1>

{% if entities|length > 0 %}
<table class="records_list">
    <thead>
        <tr>
            <th>{{ 'id'|trans({}, 'HyperAdsBundle') }}</th>
            <th>{{ 'name'|trans({}, 'HyperAdsBundle') }}</th>
            <th>{{ 'enabled'|trans({}, 'HyperAdsBundle') }}</th>
            <th>{{ 'max.width'|trans({}, 'HyperAdsBundle') }}</th>
            <th>{{ 'max.height'|trans({}, 'HyperAdsBundle') }}</th>
            <th>{{ 'type'|trans({}, 'HyperAdsBundle') }}</th>
            <th>{{ 'actions'|trans({}, 'HyperAdsBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_zone_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.enabled }}</td>
            <td>{{ entity.maxWidth }}</td>
            <td>{{ entity.maxHeight }}</td>
            <td>{{ entity.type }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_zone_show', { 'id': entity.id }) }}">
                            {{ '__show'|trans({}, 'HyperAdsBundle') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_zone_edit', { 'id': entity.id }) }}">
                            {{ '__edit'|trans({}, 'HyperAdsBundle') }}
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="message">{{ 'no.entities'|trans({}, 'HyperAdsBundle') }}</div>
{% endif %}
<ul>
    <li>
        <a href="{{ path('admin_zone_new') }}">
            {{ 'create.new.entry'|trans({}, 'HyperAdsBundle') }}
        </a>
    </li>
</ul>
{% endblock %}