{% extends "::base.html.twig" %}
{% block title %}
{{ 'show.zone'|trans({'zoneName': entity.name}, 'HyperAdsBundle') }}
{% endblock %}
{% block body %}
<h1>{{ 'show.zone'|trans({'zoneName': entity.name}, 'HyperAdsBundle') }}</h1>

<table class="record_properties">
    <tbody>
    <tr>
        <th>{{ 'id'|trans({}, 'HyperAdsBundle') }}</th>
        <td>{{ entity.id }}</td>
    </tr>
    <tr>
        <th>{{ 'name'|trans({}, 'HyperAdsBundle') }}</th>
        <td>{{ entity.name }}</td>
    </tr>
    <tr>
        <th>{{ 'name'|trans({}, 'HyperAdsBundle') }}</th>
        <td>{{ entity.enabled }}</td>
    </tr>
    <tr>
        <th>{{ 'max.width'|trans({}, 'HyperAdsBundle') }}</th>
        <td>{{ entity.maxWidth }}</td>
    </tr>
    <tr>
        <th>{{ 'max.height'|trans({}, 'HyperAdsBundle') }}</th>
        <td>{{ entity.maxHeight }}</td>
    </tr>
    <tr>
        <th>{{ 'type'|trans({}, 'HyperAdsBundle') }}</th>
        <td>{{ entity.type }}</td>
    </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_zone') }}">
            {{ 'back.to.the.list'|trans({}, 'HyperAdsBundle') }}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_zone_edit', { 'id': entity.id }) }}">
            {{ 'edit'|trans({}, 'HyperAdsBundle') }}
        </a>
    </li>
    <li>
        <form action="{{ path('admin_zone_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{{ 'delete'|trans({}, 'HyperAdsBundle') }}</button>
        </form>
    </li>
</ul>
{% endblock %}