{% extends "::base.html.twig" %}
{% block title %}
{{ 'edit.banners.in.zone'|babylon({'zoneName': zone.name}) }}
{% endblock %}
{% block body %}

<h2>{{ 'zone.name'|babylon({'zoneName': zone.name}) }}</h2>

<form action="{{ path('banner_config_save') }}" method="post">
    <p>
        <table>
            <thead>
                <tr>
                    <th>{{ 'banner.id'|babylon }}</th>
                    <th>{{ 'banner.title'|babylon }}</th>
                    <th>{{ 'banner.size'|babylon }}</th>
                    <th>{{ 'use.in.zone'|babylon }}</th>
                    <th>{{ 'probability'|babylon }}</th>
                </tr>
            </thead>
            {% for banner in allBanners %}
                {% set reference = banner.getReferenceInZone(zone.id) %}
                <tr>
                    <td>{{ banner.id }}</td>
                    <td>
                        <a href="{{ path('admin_banner_show', {'id': banner.id}) }}">
                            {{ banner.title }}
                        </a>
                    </td>
                    <td>{{ banner.width }}x{{ banner.height }}</td>
                    <td>
                        <input type="checkbox" name="newBanners[{{ banner.id }}]" value="{{ banner.id }}"
                            {% if banner.id in usedBannerIds and reference.active == 1 %} checked="checked"{% endif %} />
                    </td>
                    <td>
                        <input type="number" name="probability[{{ banner.id }}]" size="3"
                               value="{% if banner.id in usedBannerIds %}{{ reference.probability }}{% else %}1{% endif %}" />
                    </td>
                </tr>
            {% endfor %}
        </table>
        <input type="hidden" name="zoneId" value="{{ zone.id }}" />
        <input type="submit" class="button" value="{{ 'save'|babylon }}">
    </p>
</form>

{% endblock %}