{% extends "::base.html.twig" %}

{% block title %}
    {{ 'banner.buy'|babel }}
{% endblock %}
{% block body %}
<form action="{{ url('user_banner_create') }}" method="post" enctype="multipart/form-data">
    <div class="controls with-file">
        {{ form_widget(form) }}
    </div>
    <div class="form-actions">
        <a class="btn" href="{{ url('user_banner_list') }}">{{ 'back.to.the.list'|babel }}</a>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">{{ 'save'|babel }}</button>
        </div>
    </div>
</form>

{% endblock %}

{% block javascripts %}
{% if wysiwyg is defined and wysiwyg == 'enabled' %}
<script type="text/javascript" src="{{ asset('components/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        ($(document).ready(function() {
            CKEDITOR.replace('hyper_adsbundle_bannertype[description]', {
                toolbar: 'Basic',
                language: 'pl',
                disableNativeSpellChecker: false
            });
        }))();
    </script>
{% endif %}
{% endblock %}
