{% extends "::base.html.twig" %}
{% block title %}
{{ 'banner.buy'|babel }}
{% endblock %}
{% block body %}
<div id="banner-preview" class="hide">
    <img src="{{ asset(banner.fileUrl) }}" alt="{{ banner.title }}"/>
</div>
<form action="{{ url('user_banner_save_handler', {'banner': banner.id}) }}" method="post" enctype="multipart/form-data">
    {{ form_widget(editForm) }}
    <div class="form-actions">
        <a href="{{ url('user_banner_list') }}" class="btn btn-link">{{ 'back.to.the.list'|babel }}</a>
        <div class="pull-right">
            <button name="action" type="submit" value="remove" class="btn btn-danger">{{ 'delete'|babel }}</button>
            <button name="action" type="submit" value="update" class="btn btn-primary">{{ 'edit'|babel }}</button>
        </div>
    </div>
</form>
{% endblock %}