{% extends "::base.html.twig" %}
{% form_theme form 'HyperAdsBundle:User:Banner:payInZoneFormTheme.html.twig' %}

{% block title %}
{{ 'pay.for.banner.in.zone'|babel({'%banner%': banner.title, '%zone%': zone}) }}
{% endblock %}

{% block body %}
<h1>
    {{ 'pay.for.banner'|babel({'%banner%': banner.title}) }}
</h1>
<div class="alert alert-info">
    {{ 'pay.for.banner.in.zone.info'|babel({'%banner%': banner.title, '%zone%': zone}) }}
</div>

<form action="{{ url('user_banner_pay_in_zone_save', {'bannerId': banner.id, 'zoneId': zone.id}) }}" method="post">
    {{ form_widget(form) }}
    <div class="form-actions">
        <div id="days-info" class="pull-left"></div>
        <div class="pull-right">
            <input type="submit" class="btn btn-primary btn-large" value="{{ 'next'|babel }}"/>
        </div>
    </div>
</form>

<ol class="muted">
    <li>Odliczono dni, w których banner masz już wykupiony, oraz te, w których maksymalna liczba bannerów w strefie (5) jest już przekroczona;</li>
    <li>Jest to orientacyjna kwota, nie należy się nią ściśle sugerować;</li>
    <li>Są to dni, w których Twój banner nie będzie wyświetlany ze względu na przekroczoną liczbę dopuszczalnych bannerów w strefie (5). Zauważ, że cena jest również dopasowana do tej liczby - <strong>nie zapłacisz za dni, w czasie których Twój banner nie będzie widoczny</strong>.</li>
</ol>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('components/mustache/mustache.js') }}"></script>
{% raw %}
<script type="text/html" id="price-tpl">
    Liczba dni do zapłaty <sup>1</sup>: <strong>{{days}}</strong><br/>
    Koszt <sup>2</sup>: ~<strong>{{price}} {{currency}}</strong><br />
    <ul class="no-payment-possible">
        {{#commonDays}}
        <li>Od <strong>{{s}}</strong> do <strong>{{e}}</strong><sup>3</sup></li>
        {{/commonDays}}
    </ul>
</script>
{% endraw %}
<script type="text/javascript" src="{{ asset("bundles/hyperads/js/payment.js") }}"></script>
{% endblock %}