{% extends "::base.html.twig" %}
{% block title %}
    {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
{% endblock %}
{% block body %}
{% if error %}
    <div class="error">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="user-form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div>
        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
    </div>

    <div>
        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" />
    </div>

    <div>
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
{% endblock body %}
