{% extends "::base.html.twig" %}
{% block title %}
{{ 'list.page'|babylon }}
{% endblock %}
{% block body %}
<h1>{{ 'list.page'|babylon }}</h1>

{% if entities|length > 0 %}
<table class="records_list">
    <thead>
    <tr>
        <th>{{ 'id'|babylon }}</th>
        <th>{{ 'name'|babylon }}</th>
        <th>{{ 'url'|babylon }}</th>
        <th>{{ 'actions'|babylon }}</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr>
        <td><a href="{{ path('admin_page_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        <td>{{ entity.name }}</td>
        <td>{{ entity.url }}</td>
        <td>
            <ul>
                <li>
                    <a href="{{ path('admin_page_show', { 'id': entity.id }) }}">
                        {{ 'show'|babylon }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_page_edit', { 'id': entity.id }) }}">
                        {{ 'edit'|babylon }}
                    </a>
                </li>
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="message">{{ 'no.entities'|babylon }}</div>
{% endif %}
<ul>
    <li>
        <a href="{{ path('admin_page_new') }}">
            {{ 'create.new.entry'|babylon }}
        </a>
    </li>
</ul>
{% endblock %}