{% extends "::base.html.twig" %}
{% form_theme edit_form "HyperAdsBundle::acidFormTheme.html.twig" %}

{% block title %}
{{ 'new.banner'|babel }}
{% endblock %}

{% block body %}
<h1>{{ 'new.banner'|babel }}</h1>

<form action="{{ path('admin_banner_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal col-lg-8 col-offset-2" role="form">
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary">{{ 'create'|babel }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_banner') }}">
            {{ 'back.to.the.list'|babel }}
        </a>
    </li>
</ul>
{% endblock %}