{% extends "::base.html.twig" %}

{% block title %}
{{ 'your.banners'|babylon }}
{% endblock %}

{% block body %}
<h1>{{ 'your.banners'|babylon }}</h1>

{% if banners|length > 0 %}
<table class="records-list">
    <thead>
    <tr>
        <th>{{ 'id'|babylon }}</th>
        <th>{{ 'title'|babylon }}</th>
        <th>{{ 'enabled.in.zones'|babylon }}</th>
        <th>{{ 'actions'|babylon }}</th>
    </tr>
    </thead>
    <tbody>
    {% for banner in banners %}
    <tr>
        <td>{{ banner.id }}</td>
        <td>{{ banner.title }}</td>
        <td>
            {{ banner.zones|length }}
            <br /><a href="{{ url('user_banner_zones', {'banner': banner.id }) }}">{{ 'check.zones'|babylon }}</a>
        </td>
        <td>
            <a href="{{ url('user_banner_edit', {'banner': banner.id }) }}}">Edytuj</a>
            <br /><a href="{{ url('user_banner_payments', {'bannerId': banner.id}) }}">{{ 'payments.list'|babylon }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="notice message">{{ 'empty.banners.list'|babylon }}</div>
{% endif %}

<div class="additional-links">
    <a href="{{ url('user_banner_new') }}">{{ 'add.banner'|babylon }}</a>
</div>

{% endblock %}