{% extends "::base.html.twig" %}

{% block title %}
{{ 'pay.for.banner.in.zone'|babel({'%banner%': banner.title, '%zone%': zone}) }}
{% endblock %}

{% block body %}
<h1>
    {{ 'pay.for.banner'|babel({'%banner%': banner.title}) }}
</h1>
<div class="info">
    {{ 'pay.for.banner.in.zone.info'|babel({'%banner%': banner.title, '%zone%': zone}) }}
</div>

<form action="{{ url('user_banner_pay_in_zone_save', {'bannerId': banner.id, 'zoneId': zone.id}) }}" method="post" id="payment-form">
    {{ form_widget(form) }}
    <div id="days-info" class="box hide span-5 left"></div>
    <div class="buttons">
        <input type="submit" value="{{ 'next'|babel }}"/>
    </div>
</form>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('components/mustache/mustache.js') }}"></script>
{% raw %}
<script type="text/html" id="price-tpl">
    Liczba dni do zapłaty: <strong>{{days}}</strong><br/>
    Koszt: <strong>{{price}} {{currency}}</strong><br />
    Dni, w których nie można wyśwetlić bannera:
    <ul class="no-payment-possible">
        {{#common_days}}
        <li>Od <strong>{{s}}</strong> do <strong>{{e}}</strong></li>
        {{/common_days}}
    </ul>
</script>
{% endraw %}
<script type="text/javascript" src="{{ asset("bundles/hyperads/js/payment.js") }}"></script>
{% endblock %}