{% extends "::base.html.twig" %}
{% block title %}
{{ 'payments.for.announcement'|babylon({'%announcement%': announcement.title}) }}
{% endblock %}
{% block body %}
<h2>{{ 'payments.for.announcement'|babylon({'%announcement%': announcement.title}) }}</h2>

{% if announcement.orders|length > 0 %}
    <table class="records-list">
        <thead>
        <tr>
            <th>{{ 'order.number'|babylon }}</th>
            <th>{{ 'date.submission'|babylon }}</th>
            <th>{{ 'pay.to'|babylon }}</th>
            <th>{{ 'amount'|babylon }}</th>
            <th>{{ 'is.paid'|babylon }}</th>
            <th>{{ 'zone'|babylon }}</th>
        </tr>
        </thead>
        <tbody>
        {% for order in announcement.orders %}
        <tr>
            <td>{{ order.orderNumber }}</td>
            <td>
                {% if order.paymentInstruction %}
                    {{ order.paymentInstruction.createdAt|date('d. m. Y') }}r.
                {% else %}
                    {{ 'payment.instruction.not.found'|babylon }}
                {% endif %}
            </td>
            <td>{{ order.paymentTo|date('d. m. Y') }}r.</td>
            <td>
                {% if order.paymentInstruction %}
                    {{ order.amount }} {{ order.paymentInstruction.currency }}
                {% else %}
                    {{ 'payment.instruction.not.found'|babylon }}
                {% endif %}
            </td>
            <td>
                {% if order.status == constant('Hyper\\AdsBundle\\Entity\\Order::STATUS_FINISHED') %}
                    {{ 'yes'|babylon }}
                {% elseif order.status == constant('Hyper\\AdsBundle\\Entity\\Order::STATUS_CANCELLED') %}
                    {{ 'cancelled'|babylon }}
                {% else %}
                    {{ 'no'|babylon }} <a class="external" href="{{ order.paymentUrl }}">{{ 'pay'|babylon }}</a>
                {% endif %}
            </td>
            <td>
                <span{% if not order.bannerZoneReference.zone.enabled %} class="disabled"{% endif %}>{{ order.bannerZoneReference.zone }}</span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="notice message">{{ 'payments.empty'|babylon }}</div>
{% endif %}

{% endblock %}