{% extends "::base.html.twig" %}

{% block title %}
{{ 'zones.for.banner'|babel({'%banner%': banner.title}) }}
{% endblock %}

{% block body %}
<h1>{{ 'zones.for.banner'|babel({'%banner%': banner.title}) }}</h1>

{% if zones|length > 0 %}
    <div class="info">Poniżej wyświetlono listę stref, do których pasuje wybrany banner.</div>
    <form action="{{ url('user_banner_zones_save', {'banner': banner.id }) }}" method="post">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'id'|babel }}</th>
            <th>{{ 'banner.in.zone'|babel }}</th>
            <th>{{ 'page'|babel }}</th>
            <th>{{ 'paid.to'|babel }}</th>
        </tr>
        </thead>
        <tbody>
        {% for zone in zones %}
            {% set reference = banner.getReferenceInZone(zone.id) %}
            {% if reference and reference.id in zone.bannerReferencesIds and reference.active %}
                {% set zoneActive = true %}
            {% else %}
                {% set zoneActive = false %}
            {% endif %}
            <tr>
                <td>{{ zone.id }}</td>
                <td>
                    <input type="checkbox" id="use_{{ zone.id }}" name="use_in_zone[{{ zone.id }}]" value="1"{% if zoneActive %} checked="checked"{% endif %} />
                    {{ zone.name }}
                </td>
                <td>{{ zone.page.name }}</td>
                <td>
                    {% set paidToInZone = banner.getPaidToInZone(zone) %}
                    {% if banner.orders|length > 0 and paidToInZone %}
                        {{ 'paid.to.date'|babel({'%date%': paidToInZone|date('d. m. Y')}) }} <br />
                        <a href="{{ url('user_banner_pay_in_zone', {'bannerId': banner.id, 'zoneId': zone.id}) }}">
                            {{ 'extend.the.payment'|babel }}
                        </a>
                    {% else %}
                        {{ 'not.paid'|babel }}
                        <br />
                        <a href="{{ url('user_banner_pay_in_zone', {'bannerId': banner.id, 'zoneId': zone.id}) }}">
                            {{ 'pay.banner.here'|babel }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="form-actions">
        <a href="{{ path('user_banner_list') }}" class="btn">{{ 'back.to.the.list'|babel }}</a>
        <div class="pull-right">
            <input class="btn btn-primary" type="submit" value="{{ 'save'|babel }}" />
        </div>
    </div>
    </form>
{% else %}
    <div class="alert">{{ 'no.zones.to.add.banner'|babel }}</div>
{% endif %}

{% endblock %}