{% extends "::base.html.twig" %}

{% block title %}
{{ 'zones.for.banner'|babylon({'%banner%': banner.title}) }}
{% endblock %}

{% block body %}
<h1>{{ 'zones.for.banner'|babylon({'%banner%': banner.title}) }}</h1>

{% if zones|length > 0 %}
    <div class="info">Poniżej wyświetlono listę stref, do których pasuje wybrany banner.</div>
    <form action="{{ url('user_banner_zones_save', {'banner': banner.id }) }}" method="post">
    <table class="records-list">
        <thead>
        <tr>
            <th>{{ 'id'|babylon }}</th>
            <th>{{ 'banner.in.zone'|babylon }}</th>
            <th>{{ 'page'|babylon }}</th>
            <th>{{ 'paid.to'|babylon }}</th>
        </tr>
        </thead>
        <tbody>
        {% for zone in zones %}
            {% set reference = banner.getReferenceInZone(zone.id) %}
            {% if reference and reference.id in zone.bannerReferencesIds and reference.active %}
                {% set zoneActive = true %}
            {% else %}
                {% set zoneActive = false %}
            {% endif %}
            <tr>
                <td>{{ zone.id }}</td>
                <td>
                    <input type="checkbox" id="use_{{ zone.id }}" name="use_in_zone[{{ zone.id }}]" value="1"{% if zoneActive %} checked="checked"{% endif %} />
                    {{ zone.name }}
                </td>
                <td>{{ zone.page.name }}</td>
                <td>
                    {% set paidToInZone = banner.getPaidToInZone(zone) %}
                    {% if banner.orders|length > 0 and paidToInZone %}
                        {{ 'paid.to.date'|babylon({'%date%': paidToInZone|date('d. m. Y')}) }} <br />
                        <a href="{{ url('user_banner_pay_in_zone', {'bannerId': banner.id, 'zoneId': zone.id}) }}">
                            {{ 'extend.the.payment'|babylon }}
                        </a>
                    {% else %}
                        {{ 'not.paid'|babylon }}
                        <br />
                        <a href="{{ url('user_banner_pay_in_zone', {'bannerId': banner.id, 'zoneId': zone.id}) }}">
                            {{ 'pay.banner.here'|babylon }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="buttons">
        <input type="submit" value="{{ 'save'|babylon }}"
    </div>
    </form>
{% else %}
    <div class="notice">{{ 'no.zones.to.add.banner'|babylon }}</div>
{% endif %}

{% endblock %}