{% extends "::base.html.twig" %}
{% block title %}
{{ 'edit.banner'|trans({}, 'HyperAdsBundle') }}
{% endblock %}
{% block body %}
<h1>Banner edit</h1>

<form action="{{ path('admin_banner_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_banner') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('admin_banner_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}