{% extends "::base.html.twig" %}
{% block title %}
{{ 'show.banner'|trans({}, 'HyperAdsBundle') }}
{% endblock %}
{% block body %}
<h1>Banner</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{{ 'id'|trans({}, 'HyperAdsBundle') }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'file'|trans({}, 'HyperAdsBundle') }}</th>
            <td>{{ entity.path }}</td>
        </tr>
        <tr>
            <th>{{ 'extension'|trans({}, 'HyperAdsBundle') }}</th>
            <td>{{ entity.extension }}</td>
        </tr>
        <tr>
            <th>{{ 'width'|trans({}, 'HyperAdsBundle') }}</th>
            <td>{{ entity.width }}</td>
        </tr>
        <tr>
            <th>{{ 'height'|trans({}, 'HyperAdsBundle') }}</th>
            <td>{{ entity.height }}</td>
        </tr>
        <tr>
            <th>{{ 'type'|trans({}, 'HyperAdsBundle') }}</th>
            <td>{{ entity.type }}</td>
        </tr>
        <tr>
            <th>{{ 'title'|trans({}, 'HyperAdsBundle') }}</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>{{ 'linktitle'|trans({}, 'HyperAdsBundle') }}</th>
            <td>{{ entity.linkTitle }}</td>
        </tr>
        <tr>
            <th>{{ 'url'|trans({}, 'HyperAdsBundle') }}</th>
            <td>{{ entity.url }}</td>
        </tr>
        <tr>
            <th>{{ 'description'|trans({}, 'HyperAdsBundle') }}</th>
            <td>{{ entity.description }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_banner') }}">
            {{ 'back.to.the.list'|trans({}, 'HyperAdsBundle') }}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_banner_edit', { 'id': entity.id }) }}">
            {{ '__edit'|trans({}, 'HyperAdsBundle') }}
        </a>
    </li>
    <li>
        <form action="{{ path('admin_banner_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{{ '__delete'|trans({}, 'HyperAdsBundle') }}</button>
        </form>
    </li>
</ul>
{% endblock %}