{% extends "::base.html.twig" %}
{% block title %}
{{ 'edit.page'|babel({'pageName': entity.name}) }}
{% endblock %}
{% block body %}
<h1>{{ 'edit.page'|babel({'pageName': entity.name}) }}</h1>

<form action="{{ path('admin_page_update_handler', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <div class="form-actions">
        <a href="{{ path('admin_page') }}" class="btn btn-link">{{ 'back.to.the.list'|babel }}</a>
        <div class="pull-right">
            <button type="submit" class="btn btn-danger" name="action" value="remove">{{ 'delete'|babel }}</button>
            <button type="submit" class="btn btn-primary" name="action" value="update">{{ 'edit'|babel }}</button>
        </div>
    </div>
</form>
{% endblock %}